.body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding: 40px;
    gap: 50px;
    margin: auto;
    text-align: center;
}

.api-typography {
    font-size: 108px;
    font-weight: 900;
    color: green;
}

.testModeContainer {
    display: flex;
    align-items: center;
    gap: 50px;
    
}

.testMode {
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

